* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 15px auto;
    background-color: #e8e8e8;
}

.container {
    font-size: .8em;
    margin: 0 auto;
    position: relative;
    width: 95vw;
    height: 100vh;
    margin: .5em auto;
}

.flip {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: .5s;
}

.front, .verso {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001a;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #00000060;
    box-shadow: 0px 0px 10px #0000004d;
    backface-visibility: hidden;
}

.front {
    background-size: cover;
}

.front img, .verso img {
    width: 100%;
}

.info {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 0.8em;
}

.info h2 {
    color:#2020a5 ;
}

.btn {
    font-size: 1em;
    padding: 0.4em 0.8em;
    font-weight: bold;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.verso {
   padding-top: 8px;
    transform: rotateY(180deg);
    height: auto;
}

.verso > div {
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
}

.verso-products {
    padding-right: 10px;
    padding-left: 10px;
}

.verso > div > div {
    margin-top: 30px;
    width: 88vw;
}

div.virate{
    background-color: #000000c2;
    display: flex;
    justify-content: center;
    padding: 0.2em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 35px;
    z-index: 10000;
    font-size: 1.2em;
}

div.bulets {
    display: flex;
    justify-content: center;
    margin: .5em;
    gap: 0.5em;
}

.bulets span {
    margin: .5em;
}

.bulets span div{
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    color: black;
    background-color: #9ea2ae;;
    border-radius: 50%
}

